src/TestResults/Deploy_*
*.trx

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - Visual Studio
.vs/
obj/
bin/
*.csproj.user
*.njsproj.user
*.suo

# misc
npm-debug.log
yarn-error.log
testem.log
/dev/log

# System Files
.DS_Store
Thumbs.db

# Temp Files
~*.doc*

# Test Data
/FsInfoCat/FsInfoCat.UnitTests/Resources/Drive1.zip
/FsInfoCat/FsInfoCat.UnitTests/Resources/Drive2.zip
/src/FsInfoCat/Resources/CodeScanResults.txt
codeql-custom-queries-csharp/codeql-pack.lock.yml
