@model FsInfoCat.Models.DB.Volume

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Volume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HostDeviceID" class="control-label"></label>
                <input asp-for="HostDeviceID" class="form-control" />
                <span asp-validation-for="HostDeviceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RootPathName" class="control-label"></label>
                <input asp-for="RootPathName" class="form-control" />
                <span asp-validation-for="RootPathName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriveFormat" class="control-label"></label>
                <input asp-for="DriveFormat" class="form-control" />
                <span asp-validation-for="DriveFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeName" class="control-label"></label>
                <input asp-for="VolumeName" class="form-control" />
                <span asp-validation-for="VolumeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniqueIdentifier" class="control-label"></label>
                <input asp-for="UniqueIdentifier" class="form-control" />
                <span asp-validation-for="UniqueIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNameLength" class="control-label"></label>
                <input asp-for="MaxNameLength" class="form-control" />
                <span asp-validation-for="MaxNameLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flags" class="control-label"></label>
                <input asp-for="Flags" class="form-control" />
                <span asp-validation-for="Flags" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInactive" /> @Html.DisplayNameFor(model => model.IsInactive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
