<RunSettings>
    <RunConfiguration>
        <SolutionDirectory>C:\Users\lerwi\source\repos\FsInfoCat\src\</SolutionDirectory>
        <!--
        <Verbosity>5</Verbosity>
        <CollectSourceInformation>True</CollectSourceInformation>
        <InternalTraceLevel>Debug</InternalTraceLevel>
        <DumpXmlTestDiscovery>true</DumpXmlTestDiscovery>-->
    </RunConfiguration>
    <NUnit>
        <UseNUnitIdforTestCaseId>true</UseNUnitIdforTestCaseId>
        <WorkDirectory>C:\Users\lerwi\Git\FsInfoCat\src\TestResultData\</WorkDirectory>
        <TestOutputXml>C:\Users\lerwi\Git\FsInfoCat\src\TestResultInfo\</TestOutputXml>
    </NUnit>
</RunSettings>
