<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>C:\Users\lerwi\source\repos\FsInfoCat\src\TestResults</ResultsDirectory>
        <SolutionDirectory>C:\Users\lerwi\source\repos\FsInfoCat\src\</SolutionDirectory>
        <CollectSourceInformation>True</CollectSourceInformation>
    </RunConfiguration>
</RunSettings>
